*{
    box-sizing: border-box;
}
body{
    background-color:rgba(37, 192, 6, 0.754) ;
}
h1{
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    text-decoration: underline yellowgreen;
}
img{
    border: 10px solid #000;
}