*{
    box-sizing: border-box;
}
body{
    background-color:rgba(43, 159, 197, 0.619) ;
}
h1{
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    text-decoration: underline yellow dotted;
}
img{
    border: 10px solid #000;
}
p{
    color: #fff;
}